<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{{title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../static/css/render.css" rel="stylesheet" type="text/css" />
<style>
header {
    padding:5px 10px;
	max-width:950px;
}
nav { 
	max-width:950px;
    padding:20px 0;
}
</style>
</head>
<body>
<div>
<header>
<h1>{{title}}</h1>

</header>
	<nav>
	<p>
		<a href = "../">主页</a>  &nbsp;&nbsp;&nbsp;
		{% for item in topics %} <a href = "../topics/{{topics[item].hashID}}.html"> {{item}} </a> &nbsp;&nbsp;&nbsp; {% endfor %}
	</p>
	</nav>

<h2>最近更新 - {{date}}<h2>

<ul>
{% for item in docs_ns %}
	<li><a href="../article/{{item.hashID}}.html">{{item.name}}</a>   <br>更新日期:{{item.dtime}}</li>
{% endfor %}
</ul>
</div>
</body>
</html>


