<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{{title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../static/css/site.css" rel="stylesheet" type="text/css" />
<style>

div#main_wrapper{
    min-width:600px; max-width:1100px;
    /*超过最大宽度时，居中布局*/
    margin:0 auto;
    /*背景图片默认从左上角开始拼接*/
}


header {
    padding:5px 10px;
	max-width:950px;
}
nav {
	float:right;
	max-width:200px;
	max-height:100%;
    padding:0px 0;
}

article {
    width:auto;
    margin-left:0px;
    /*在流动居中的栏右侧腾出空间*/
    margin-right:300px;
    padding:px 0;
}

hr {
    height: 0.2em;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC;
}

</style>

</head>
<body>


<div>
<header>
<h1>{{title}}</h1>
</header>

</header>
	<nav>
	<ul>
		<h4>
		<li>
		<a href = "../">主页</a>
		</li>
		</h4>


		{% for item in topics %}
			<h4>
			<li>
			<a href = "../topics/{{topics[item].hashID}}.html"> {{item}} ({{topics[item].count}}) </a> 
			</li>
			</h4>
		{% endfor %}

	</ul>
	</nav>

<article>
	<ul>
	{% for item in docs_ns %}
			<h4>
		<li><a title="{{item.name}}" href="./article/{{item.hashID}}.html">{{item.name}}</a>
		</h4>
				 <div class="clearfix">
        <div class="published">{{item.dtime}}</div>
        <div class="tags">
          标签: 
          无
		  <!--
          <a class="tag" href="/tags/feedback"><span>feedback</span></a>, 
          
          <a class="tag" href="/tags/thanks"><span>thanks</span></a>, 
          
          <a class="tag" href="/tags/python"><span>python</span></a>, 
          
          <a class="tag" href="/tags/community"><span>community</span></a>
          -->
        </div>
	{% endfor %}
	</ul>
</article>

</div>
</body>
</html>


